.ps {
  font-size: 80%;
}

.gabi {
  height: 30rem;
}

.troy {
  height: 30rem;
}

.footer {
  text-align: center
}

body {
  background-color: #D885A3;
}

footer {
  background-color:
}
